.nav {
    background: rgb(255, 76, 0);
    background: linear-gradient(90deg, rgba(255, 76, 0, 1) 0%, rgba(255, 98, 0, 1) 51%, rgba(255, 171, 0, 1) 100%);
    padding: 1rem 0;
}

a.navbar-brand {
    padding-left: 10rem;
}