.nav {
    background: linear-gradient(90deg, rgb(0, 36, 0) 0%, rgb(39, 59, 9) 51%, rgb(88, 100, 29) 100%);
}

a.navbar-brand {
    padding-left: 10rem;
    color: #ffffff;
}

.nav-item {
    color: #ffffff;
}