<nav class="nav sticky-top">
    <a class="navbar-brand">Petly</a>
    <li class="nav-item">
        <a class="nav-link text-light" href="#galeria">Galería</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="#noticias">Noticias</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="#donaciones">Donar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="#voluntario">Voluntarios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="#albergues">Albergues</a>
    </li>
</nav>