#albergues {
    padding: 2.5rem 1rem;
    // background: linear-gradient(90deg, rgba(0, 36, 0, .7) 0%, rgba(39, 59, 9, .7) 51%, rgba(88, 100, 29, .7) 100%), url('/assets/images/dog.jpg') no-repeat center center fixed;
    h1 {
        color: #ffffff;
    }
    .card {
        text-align: center;
    }
}
