<section id="albergues">
    <h1 align="center">Visita el albergue más cercano</h1>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <img src="/assets/images/dog.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Zona Norte</b></h4>
                    <p>Rio de Janeiro 20,Roma Norte</p>
                </div>
                <a href="https://www.google.com.mx/maps/place/Plaza+R%C3%ADo+de+Janeiro+20,+Roma+Nte.,+Cuauht%C3%A9moc,+06700+Ciudad+de+M%C3%A9xico,+CDMX/@19.4213077,-99.1632003,17z/data=!3m1!4b1!4m5!3m4!1s0x85d1ff30be81a657:0xd60ad2dc03e5ec2e!8m2!3d19.4213027!4d-99.1610116"><button type="button" class="btn btn-success">Ver mapa</button></a>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <img src="/assets/images/dog.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Zona Sur</b></h4>
                    <p>Av. Universidad 34, Altillo Universidad </p>
                </div>
                <a href="https://www.google.com.mx/maps/place/Av.+Universidad+34,+Altillo+Universidad,+Coyoac%C3%A1n,+Ciudad+de+M%C3%A9xico,+CDMX/@19.3413044,-99.183906,17z/data=!3m1!4b1!4m5!3m4!1s0x85d1fffc5edac2b3:0x91030aaca3c8ea07!8m2!3d19.3412994!4d-99.1817173"><button type="button" class="btn btn-success">Ver mapa</button></a>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <img src="/assets/images/dog.jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>Zona Oriente</b></h4>
                    <p>Av. Presidente 353,Polanco</p>
                </div>
                <a href="https://www.google.com.mx/maps/place/Av.+Pdte.+Masaryk+353,+Polanco,+Polanco+III+Secc,+Miguel+Hidalgo,+11550+Ciudad+de+M%C3%A9xico,+CDMX/@19.4320301,-99.1984539,17z/data=!3m1!4b1!4m5!3m4!1s0x85d202023cf18485:0x4c19fbb25c2efcd8!8m2!3d19.4320251!4d-99.1962652"><button type="button" class="btn btn-success">Ver mapa</button></a>
            </div>
        </div>
    </div>
</section>