$color-1: rgb(0, 36, 0);
$color-2: rgb(39, 59, 9);
$color-3: rgb(88, 100, 29);
$color-4: #7B904B;
$color-5: #DBD2E0;
#noticias {
    padding-bottom: 2rem;
    // clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    // background-color: rgb(255, 136, 0);
    // background-image: url('/assets/images/wall1.png');
    background-color: #f3f3f3;
}
