<section id="voluntario">
    <h1 class="text-center">¡Unete a nuestro equipo!</h1>

    <div class="card-body">
        <form id="voluntarioForm">
            <div class="row">

                <div class="col-2"></div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="NC">Nombre completo: </label>
                        <input type="text" class="form-control" placeholder="Ej. Kitzia Checa Mitre">
                    </div>
                    <div class="form-group">
                        <label for="correo">Correo electronico: </label>
                        <input type="text" class="form-control" placeholder="Ej. kitzia03@gmail.com">
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="telefonoContacto">Telefono Contacto: </label>
                        <input type="text" class="form-control" placeholder="Ej.5512018009">
                    </div>
                    <div class="form-group">
                        <label for="Zona">¿Cual es tu zona?: </label>
                        <select class="form-control" id="sel1">
                            <option>Norte</option>
                            <option>Sur</option>
                            <option>Oriente</option>
                            <option>Poniente</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <button type="button" class="btn btn-primary btn-lg btn-block boton2">Enviar mis datos</button>
                </div>
                <div class="col-2"></div>
            </div>
        </form>
    </div>
</section>
