$color-1: rgb(0, 36, 0);
$color-2: rgb(39, 59, 9);
$color-3: rgb(88, 100, 29);
$color-4: hsl(78, 32%, 43%);
$color-5: hsl(279, 18%, 85%);
a {
  text-decoration: none;
  color: #fff;
}
main {
    height: 25rem;
    background: linear-gradient(90deg, rgba(0, 36, 0, .7) 0%, rgba(39, 59, 9, .7) 51%, rgba(88, 100, 29, .7) 100%), url('/assets/images/mainpet.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    h1 {
        padding: 5rem 0 0 5rem;
        font-weight: bold;
    }
    h2 {
        padding-left: 5rem;
    }
    .custom-buttons {
        padding-top: 5rem;
        padding-left: 15rem;
        button {
            color: #ffffff;
            border-radius: 2rem;
            width: 10rem;
        }
    }
}
